body{
    background-color: #12181f;
}

.carta{
    background-color: #322727; 
    color: white;
    font-weight: 600;
    text-align: start;
}
.link{
    text-decoration: none;
}

.text{
    font-size: 13;
    font-weight: 600;
}
.text2{
    font-size: 18;
    font-weight: 600;
}


